<!DOCTYPE html>
<html lang="ja">

<head>
    <meta name="keywords" content="掲示板,プログラミング,RubyonRails,練習">
    <meta name="description" content="名前と内容をインプットすると保存し表示されるメッセージボードです。">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message-Board | Ruby on rails</title>
    <!-- BootstrapのJS読み込み -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar">
      <div class="navbar-header">
        <h1>Message Board</h1>
        </a>
      </div>
  </nav>
  <div class="message_input container">
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>
        
    <%= yield %>
  </div>
  
  <footer>
    <div class="copyright">© 2015 Sunao Koganemaru</div>
  </footer>
</body>
</html>
</html>